@font-face {
    font-family: BLOMBERG;
    src: url(font.otf);
}

body {
    background-image: url("background.avif");
    margin: -10px;
}

* {
    font-family: BLOMBERG;
}

#hangmanSample {
    border-left: 7px groove black;
    border-top: 7px groove black;
    border-right-width: 70px;
    width: 425px;
    height: 73vh;
    transform: translate(100px, 100px);
}

#triangle {
    height: 4px;
    background-color: #545454;
    width: 118px;
    transform: translate(142.5px, 100px);
    rotate: 135deg;
    border: 0px solid;
}

#rope {
    border: 0px;
    border-top: 7px groove black;
    border-left: 7px groove black;
    height: 4px;
    width: 50px;
    rotate: 90deg;
    transform: translate(-3.4px, -210px);
}

#l-1, #l-2, #l-3, #l-4, #l-5 {
    display: none;
}

.circle {
    border: 4px solid black;
    height: 60px;
    width: 60px;
    border-radius: 50%;
    transform: translate(390px, 10px);
}

.body {
    border: 3px solid black;
    width: 115px;
    rotate: 90deg;
    transform: translate(57px, -210px);
}

.lArm {
    border: 3px solid black;
    width: 90px;
    rotate: 135deg;
    transform: translate(-100px, -150px);
}

.rArm {
    border: 3px solid black;
    width: 90px;
    rotate: 45deg;
    transform: translate(190px, -155px);
}

.lFoot {
    border: 3px solid black;
    width: 90px;
    rotate: 135deg;
    transform: translate(-50px, -200px);
}

.rFoot {
    border: 3px solid black;
    width: 90px;
    rotate: 45deg;
    transform: translate(239px, -106px);
}

#container {
    display: flex;
}

#inputField {
    transform: translate(70px, 100px);
}

.rowOfLetters {
    display: flex;
    justify-content: center;
}

#hint {
    position: absolute;
    transform: translate(170px, 775px);
    font-size: 30px;
}

#hintButton {
    border: 5px solid black;
    border-style: ridge;
    color: white;
    background-color: black;
    border-radius: 5px;
    width: 300px;
    font-size: 30px;
}

#hintButton:hover {
    opacity: 75%;
}

#hintButton:active {
    opacity: 50%;
}

#warning {
    text-align: center;
    font-size: 15px;
}

.rowOfLetters {
    width: 85vh;
    display: flex;
    flex-wrap: wrap;
}

.rowOfLetters button  {
    font-size: 40px;
    width: 85px;
    height: 85px;
    text-align: center;
    margin: 10px;
    border: 5px solid black;
    background-color: black;
    border-radius: 5px;
    color: white;
    border-style: ridge;
}

.rowofLetters button:hover {
    opacity: 75%;
}

.rowofLetters button:active {
   opacity: 50%;
}

.outputField {
    display: flex;
    justify-content: left;
    width: 60dvh;
}

.outputField img#image {
    height: 650px;
    transform: translate(80px, 80px);
}

.outputOfLetters {
    font-size: 100px;
    transform: translate(150px, 50px);
}

.outputOfLetters span {
    padding: 0px 10px;
}

#lives {
    height: 50px;
    position: absolute;
    transform: translate(225px, 50px);
}

#celebration {
    display: none;
    position: fixed;
    background-color: rgba(0, 255, 0, 90%);
    z-index: 1000;
    backdrop-filter: blur(1px);
}

#celebration div {
    position: fixed;
    font-size: 100px;
    color: white;
    height: 100dvh;
    width: 100dvw;
    text-align: center;
    transform: translateY(40%);
}

#celebration img {
    height: 900px;
}

#loss {
    z-index: 1000;
    display: none;
    position: fixed;
    color: white;
    background-color: rgba(255, 0, 0, 75%);
    font-size: 100px;
    width: 100dvw;
    height: 100dvh;
    text-align: center;
    left: 0;
    bottom: 0;
    backdrop-filter: blur(1px);
}

#loss div {
    text-align: center;
    transform: translateY(250%);
}

#wordDisplay {
    font-size: 60px;
}

#reloadButtonWin {
    border: 5px solid black;
    border-style: ridge;
    color: white;
    background-color: black;
    border-radius: 5px;
    font-size: 30px;
    height: 57px;
    width: 320px;
    transform: translate(39vw, -50vh);
}

#reloadButtonLose {
    border: 5px solid black;
    border-style: ridge;
    color: white;
    background-color: black;
    border-radius: 5px;
    font-size: 30px;
    height: 57px;
    width: 320px;
    transform: translate(0.5vw, 18vh);
}

#heartContainer {
    display: flex;
    position: absolute;
    transform: translate(140px, 30px) scale(0.75);
    width: 100px;
    justify-self: center;
}

#heart1, #heart2, #heart3, #heart4, #heart5 {
    display: flex;
} 

#lHeart {
    background-color: red;
    height: 60px;
    width: 40px;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
    rotate: -45deg;
    border-top: 5px solid rgb(252, 106, 106);
    border-left: 5px solid rgb(252, 106, 106);
}   

#rHeart {
    background-color: red;
    height: 57.95px;
    width: 45px;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
    transform: translate(-20px, 21px);
    rotate: 45deg;
    border-top: 5px solid rgb(152, 0, 0);
    border-bottom: 5px solid rgb(252, 106, 106);
    border-right: 5px solid rgb(152, 0, 0);
}